body {background-color: rgb(255, 255, 255);}
h1 {color: rgb(0, 0, 0);}
h1 {text-align: center;}
h1 {font-size:xx-large;}
h2 {text-align: center;}
h2 {font-size: 500%;}
h2 {color: orange;}
img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }