body {
  background-color: white;
}

h1 {
  color:            black;
  text-align:         center;
  font-size:          200%;
}


h2 {text-align:       center;
  font-size:          500%;
  color:            rgb(255, 102, 0);
}

